.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 50px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.ConnectionDetailsBox {
  width: 320px;
}

.ConnectionDetails_names {
  width: 320px;
}

.ConnectionDetails_props {
  width: 320px;
}

.ResourceManagerBox {
  width: 320px;
}
.ResourceManager_names {
  width: 320px;
}
.ResourceManager_props {
  width: 320px;
}

.Version_names {
  width: 320px;
}
.Version_props {
  width: 320px;
}

